/*
MAIN CSS STYLING
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: #0d0d0f;
  color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 60px;
  height: 100vh;
}

#title {
  text-align: center;
  margin-bottom: 25px;
  letter-spacing: 5px;
  font-size: 28px;
  color: #9f7cff;
  opacity: 0.8;
}

#input-section {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

#task-input {
  padding: 12px;
  width: 260px;
  border-radius: 10px;
  background: #1c1c28;
  border: 1px solid #2e2e40;
  color: #fff;
  outline: none;
}

#task-input:focus {
  border-color: #9f7cff;
  box-shadow: 0 0 8px #9f7cff55;
}

#add-btn {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #9f7cff;
  border: none;
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  transition: 0.2s ease;
}

#add-btn:hover {
  background: #b193ff;
  transform: scale(1.05);
}

#tasks {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/*
TASK CARD CSS STYLING
*/
.task-card {
  display: flex;
  align-items: center;
  background: #1c1c28;
  padding: 14px 18px;
  border-radius: 12px;
  gap: 12px;
  border: 1px solid #2e2e40;
  transition: 0.25s ease;
  cursor: default;
}

.task-card:hover {
  background: #232333;
  box-shadow: 0 0 12px #9f7cff33;
}

.checkbox {
  width: 18px;
  height: 18px;
  border-radius: 4px;
  border: 2px solid #9f7cff;
  cursor: pointer;
  transition: 0.2s ease;
}

.task-card.done .checkbox {
  background: #9f7cff;
  box-shadow: 0 0 6px #9f7cffaa;
}

.task-card.done .task-text {
  opacity: 0.45;
  text-decoration: line-through;
}

.task-text {
  flex: 1;
  color: #eaeaea;
  letter-spacing: 0.5px;
}

.delete-btn {
  font-size: 20px;
  padding: 0 8px;
  cursor: pointer;
  color: #ff8585;
  transition: 0.2s;
}

.delete-btn:hover {
  color: #ffa4a4;
}

.task-card.remove {
  opacity: 0;
  transform: translateX(-15px);
}